# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
appsettings.Development.json
appsettings.Production.json

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.temp

# Coverage reports
coverage/

# Debugging files
*.pid
*.seed
*.pid.lock

# Miscellaneous
*.bak
*.swp
*.swo