.ticket-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.ticket-table {
  background: #fff;
  font-size: 10px;
}

.ticket-table .ant-table-thead > tr > th {
  font-size: 10px;
  font-weight: 600;
}

.ticket-table .ant-table-cell {
  font-size: 10px;
}
.ticket-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.ticket-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0px;
  border: 0px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.ticket-filters-header .ant-btn-primary {
  background-color: #fff !important;
  border-color: #fff !important;
  border-radius: 10px !important;
  margin: 8px 0px !important;
}

.ticket-filters-header .ant-btn-primary:hover {
  background-color: #eaf1f9 !important;
  border-color: #eaf1f9 !important;
  border-radius: 10px !important;
}

.ticket-filters-wrapper {
  padding: 10px 10px;
  background: linear-gradient(to bottom, #221e1f, #80838a);
  border-radius: 10px;
}

.ticket-table {
  background: #fff;
  font-size: 10px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px ;
}

.ticket-table .ant-table {
  border-radius: 8px;
}

.ticket-table .ant-table-wrapper {
  border-radius: 8px;
}

.ticket-table .ant-table thead > tr:first-child > th:first-child {
  border-radius: 8px 0 0 0;
}

.ticket-table .ant-table thead > tr:first-child > th:last-child {
  border-radius: 0 8px 0 0;
}

.ticket-table .ant-table tbody > tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.ticket-table .ant-table tbody > tr:hover {
  background-color: #e6f7ff !important;
  box-shadow: inset 0 0 0 1px #91d5ff;
}

.create-ticket-card {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
}

.ant-form-item-label > label {
  font-size: 10px !important;
}

.ant-input,
.ant-select-selector,
.ant-btn {
  font-size: 10px !important;
}

/* Giảm padding bottom của Row chứa Tiêu đề + Priority */
.ant-row[style*="gutter"] {
  margin-bottom: 0 !important;
}

.ant-row[style*="gutter"] .ant-form-item {
  margin-bottom: 4px !important;
}

/* Giảm khoảng cách giữa các Form.Item */
.ant-form-item {
  margin-bottom: 8px !important;
}

.ant-upload-drag {
  padding: 10px !important;
}

.ant-upload-drag-icon {
  margin: 8px 0 !important;
}

.ant-upload-text {
  margin: 4px 0 !important;
  font-size: 12px !important;
}

.ant-upload-hint {
  margin: 4px 0 !important;
  font-size: 11px !important;
}